.logout-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}

.logout-btn:hover {
  text-decoration: underline;
}

.content {
  margin-top: 80px;
  /* Adjust this value based on the height of your header */
  padding: 20px;
  /* Your additional styles for content */
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(1, 1, 100);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.content {
  margin-top: 80px;
  /* Adjust this value based on the height of your header */
  padding: 20px;
  /* Your additional styles for content */
}


a {
  text-decoration: none;
  /* Loại bỏ gạch chân mặc định */
  color: #fff;
    /* Màu văn bản */
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
}


nav ul{
    display: flex;
}
nav> ul li{
    list-style: none; /* bỏ dấu chấm mặc định của li */
}
nav> ul li a{
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #f1f2f3;
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    border-radius: 5px;
}



/* Khi hover đến li, tô màu cho thẻ a */
nav ul li:hover>a{
    background: rgb(1, 1, 100);
    opacity: .7;
    color: rgb(248, 248, 243);
}
/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
nav li ul{
    display: none;
    min-width: 180px;
    position: absolute;
}
nav li>ul li{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #999;
    text-align: left;
}
nav li>ul li:first-child a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
nav li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*khi hover thì hiện menu con*/
nav  li:hover > ul{
    display:  block;
}
/*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
nav > ul li > ul li >ul{
    margin-left: 352px;
    margin-top: -50px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
  }
  
  th {
    position: relative;
    padding: 10px 16px;
    text-align: center;
  }

  th {
    
    background-color: #2a2185;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: bold;
  }

  tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
  }
  td {
    position: static;
    /* position: relative; */
    padding: 10px 16px;
    text-align: center;
  }
  
  .btn-secondary {
    background-color: #888888;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-secondary:hover {
    background-color: #555555;
  }



  .toggle-btn {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
/* button on/off */
  .toggle-btn:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1.8px;
    left: 1.8px;
    transition: transform 0.2s linear;
  }
  
  .toggle-btn.on {
    background-color: #4CAF50;
  }
  
  .toggle-btn.on:before {
    transform: translateX(25px);
  }

  .filter-options {
    display: none;
  }



/* creat modal */
.movalAdd {
    width: 90%;    /* nút cách trái 10% */
    margin: auto;
    text-align: left;
}
/* Định dạng phần form */
.fomr-group {
    width: 50%;
    margin: auto;
    display: block;  /* chiều ngang, trên 1 dòng mới*/
    height: 50px;
}

/* .fomr-group label{
    font-size: 40px;
} */

/* The Modal (background) */
.modal {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 1; /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
 

/*  Close X */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* chỉnh form và modal */

/* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;    /*khoảng cách ND và viền */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;    /* căn giữa */
  }

  .modal-header {
    margin-bottom: 20px;
  }

  .modal-title {
    margin: 0;
  }

  .close {
    cursor: pointer;
    font-size: 20px;
    
  }

  .modal-body {
    margin-bottom: 20px;
  }

  .form-group {
   margin-bottom: 15px;    /* cách phần tử dưới  */
  }

  label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  select.form-control {
    height: 40px;
  }

  .form-control-file {
    display: block;
    margin-top: 5px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .modal-footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

  .btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: #fff;
  }

  .btn-secondary {
    background-color: #2a2185;
  }

.btn-addItem {
    background-color: #2a2185; 
  }

.btn-primary {
    background-color: #2a2185;
  }
.btn-danger{
    background-color: rgb(200, 5, 5);
}
.search{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}