<html>

<head>
    <link rel="stylesheet" href="admin.css/chitietbaihoc.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="admin.css/admin.them.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="fixed-header">
        <a href="admin_home.html"> QUẢN LÝ KHÓA HỌC </a>
        <button class="logout-btn"><i class="fas fa-sign-out-alt"></i></button>
    </header>
    <div class="content">
        <div class="tong">
            <div class="tieude">
                <div class="tong">
                    <div class="nut-quay-lai">
                        <button id="quay-lai" onclick="goBack()">
                            <img src="png-transparent-computer-icons-button-back-angle-triangle-arrow-keys.png"
                                alt="Quay lại">
                        </button>
                        <script>
                            function goBack() {
                                window.history.back();
                            }
                        </script>
                    </div>
                    <h1><u>PEN-I VẬT LÍ </u></h1>
                </div>
                <div class="muctren">
                    <div class="anh">
                        <img src="https://hocmai.vn/file.php/1/Anh_gv_THPT/Nguyen_Ngoc_Anh/Form-900x900.png">
                    </div>
                    <div>
                        <div class="thongtinkhoahoc">
                            <p><strong>ID:</strong> 1</p>
                            <p><strong>Mô tả:</strong> Chào mừng bạn đến với khóa học PEN-I VẬT LÍ. Khóa học này được
                                thiết kế để cung cấp cho bạn kiến thức sâu rộng về Vật lí. Cho dù bạn mới bắt đầu hay đã
                                có kinh nghiệm trong lĩnh vực này, khóa học sẽ đưa bạn qua một hành trình học tập thú vị
                                và bổ ích.</p>
                        </div>
                        <div class="nut">
                            <button class="show-modal">Sửa bài học</button>
                            <div class="modal hidden">
                                <button class="close-modal">&times;</button>
                                <h1>Sửa bài học</h1>
                                <form>
                                    <div class="form-detail">
                                        <div class="form-info col-md-6 col-xs-12">
                                            <div class="group">
                                                <input class="control-custom" type="text" required="required" />
                                                <span class="bar"></span>
                                                <label>Tên bài học</label>
                                            </div>
                                            <div class="group">
                                                <span class="bar"></span>
                                                <label>Mô tả bài hoc</label>
                                                <br><br>
                                            </div>

                                            <div class="group">
                                                <input id="description-field" class="control-custom" type="text"
                                                    required="required" />
                                                <span class="bar"></span>
                                                <label for="description-field"></label> <br> <br>
                                            </div>
                                            <div class="group">
                                                <input class="control-custom" type="url" required="required" />
                                                <span class="bar"></span>
                                                <label>Video bài học</label>
                                            </div>
                                            <div class="group">
                                                <label>Trạng thái bài học </label><br><br>
                                                <button class="toggle-btn">Active</button>
                                                <span class="bar"></span>
                                            </div>

                                            <div class="form-button text-center">
                                                <button class="btn btn-info" type="submit">Thêm</button>
                                                <button class="btn btn-cancel" type="button">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="overlay hidden"></div>
                            <script src="script.js"></script>

                            <label class="container1">
                                <input type="checkbox">
                                <span class="background"></span>
                                <span class="mask"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mucgiua">
                    <h3>VIDEO NỘI DUNG</h3>
                </div>
                <div class="noidungkhoahoc">
                    <!-- Thay thế div class "noidungkhoahoc" bằng div hiển thị video từ YouTube -->
                    <div class="video-container">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/VrZ6C2TTnLg?si=EofxRGJXOzPzkCPr"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <script>
                    const toggleBtn = document.querySelector('.toggle-btn');

                    toggleBtn.addEventListener('click', function () {
                        this.classList.toggle('active');
                        if (this.classList.contains('active')) {
                            this.textContent = 'Inactive';
                        } else {
                            this.textContent = 'Active';
                        }
                    });
                </script>
                <script>
                    var simplemde = new SimpleMDE({
                        element: document.getElementById("description-field"),
                        spellChecker: false
                    });
                </script>
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>